table {
    width: 90%;
    margin-top: 10px;
    font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
}

.table-wrapper {
    margin-top: 80px;
    width: 100%;
}

.paginator {
    width: 90%;
    font-size: large;
}

th {
    background-color: #4051b5;
    color: white;
}